.App {
  text-align: top;
}


.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding-top: 10vh;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(15px + 3vmin);
  color: white;
}
.App-container {
  background-color: #343b49;
  min-height: 40vh;
  max-width: 30vh;
  display: grid;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.App-switchContainer{
  background-color: #282c34;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1%;
}

.App-switch {
  background-color: #343b49;
  min-height: 5vh;
  max-width: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
  font-size: calc(10px + 2vmin);
  color: white;
}

